
@{
    ViewBag.Title = "Ex4";
}

<h2>Ex4</h2>

<h2>Post back Ex3</h2>

@using (Html.BeginForm())
{
    @Html.Label("name", "enter name:  ")
    @Html.TextBox("name")<br />
    @: Choose gender
    @Html.RadioButton("gender", "Mr.") @: male
    @Html.RadioButton("gender", "Miss.") @: female



    <input type="submit"  />
    
}


@ViewBag.msg

@Html.ActionLink("go to home", "index", "PostBackDemos")