
@{
    ViewBag.Title = "Ex6";
}

<h2>Ex6</h2>

<h2>Post back Ex6</h2>
@{
    string[] s =new string[] { "cricekt", "football", "ps4" };
}
@using (Html.BeginForm())
{
    @Html.Label("name", "enter name:  ")
    @Html.TextBox("name")<br />



 
    foreach(string s1 in s)
    {

        @Html.CheckBox("check",false,new { value = @s1 })  @s1
    }


    <input type="submit" />

}


@ViewBag.msg

@Html.ActionLink("go to home", "index", "PostBackDemos")