
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<br />
@Html.ActionLink("go to ex1", "Ex1", "PostBackDemos")
<br />

@Html.ActionLink("go to ex2", "Ex2", "PostBackDemos")
<br />

@Html.ActionLink("go to ex3", "Ex3", "PostBackDemos")
<br />

@Html.ActionLink("go to ex4", "Ex4", "PostBackDemos")
<br />

@Html.ActionLink("go to ex6", "Ex6", "PostBackDemos")
<br />


@Html.ActionLink("go to ex8", "Ex8", "PostBackDemos")
<br />

@Html.ActionLink("go to ex9", "Ex9", "PostBackDemos")
<br />

@Html.ActionLink("go to ex8", "Ex8", "PostBackDemos")
<br />

<br />
@Html.ActionLink("go to home", "index", "home")